.Banana{
    width: 20%;
    height: 30%;
}
.Orange{
    width: 20%;
    height: 30%;
}
.Cusapple{
    width: 20%;
    height: 30%;
}
.Pineapple{
    width: 20%;
    height: 30%;
}
.Mango{
    width: 20%;
    height: 30%;
}
.Strawberry{
    width: 20%;
    height: 30%;
}
.Watermelon{
    width: 20%;
    height: 30%;
}
